//Font
$font: 'Open Sans', sans-serif;
$font-size: 16px;

//Colors
  //Skin
  $light: #CCCCCC;
  $medium: #868686;
  $dark: #535353;
  //Messages
  $success: #4AB75C;
  $alert: #EBA131;
  $error: #F91A38;
  $info: $medium;
  //Links
  $links: #EBA131;
  $hover: #4AB75C;

//Header
$header-bg: $dark;
$header-color: #FFF;
$header-height: 4rem;
$header-container-width: 1200px;
$logo-url: './img/logo-watch.svg';
$logo-width-mobile: 6rem;
$logo-height: 4rem;
$logo-bg-size: contain;
$hamburger-color: $links;



// Body
/* $body-bg: #f5f8fa; */

// Borders
/* $laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color; */


// Typography
/* $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f; */

// Navbar
/* $navbar-default-bg: #fff; */

// Buttons
/* $btn-default-color: $text-color; */

// Inputs
/* $input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%); */

// Panels
/* $panel-default-heading-bg: #fff; */
